@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#Ad_container
{
    margin-left: 20px;
    margin-top: 20px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 13%;
    width: 29%;
    height: 100%;
    position: fixed;
}

.nav_links {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 70%;
    justify-content: space-between;
}

.nav_links a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 8px 25px 8px 8px;
    width: fit-content;

}

.nav_links a i {
    font-size: 3rem;
    margin-right: 15px;
}

.nav_links a:hover,
.main-acount a:hover,
.trending-item:hover {
    background-color: rgb(47, 51, 54);
    border-radius: 9999px;
}

.nav_links a:first-child {
    padding: 8px 8px;
    margin: 0;
}


.nav_links a :first-child i {
    margin: 0;
}

.Tweet_button {
    background-color: rgb(29, 155, 240);
    width: 90%;
    height: 55px;
    border-radius: 9999px;
    border: solid 1px black;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 700;
    margin-top: 15px;
    transition-duration: 0.2s;
}

.Tweet_button:hover {
    background-color: rgba(29, 155, 240, 0.9);
}

.main-acount {
    width: 100%;
    height: 30%;
    padding-top: 185px;
}

.tweet-image,
.new-tweet img {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
}

.main-acount a {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px 8px 15px;
    margin-right: 10px;
    align-items: center;

}

.Acount-detailes {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-left: 10px;
    font-size: 1.5rem;
    line-height: 20px;
}

.acount-name {
    font-weight: 500;
}

.acount-handel {
    color: rgb(110, 118, 125);
}

main {
    height: 100%;
    width: 71%;
    margin-left: 29%;
}

.main-flex {
    display: flex;
    width: 100%;
}

.main-feed {
    width: 50%;
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
}

.home-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 400px;
    padding: 0 15px;
    position: sticky;
    top: 0;
    background-color: black;
}

.new-tweet {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 4px 16px;
}

.new-tweet img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.new-tweet-deatiles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 4px;
    width: 100%;
    margin-left: 12px;
}

.new-tweet-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

.new-tweet-actions ul {
    display: flex;
    list-style: none;
}

.new-tweet-deatiles input {
    width: 100%;
    height: 24px;
    background-color: black;
    font-size: 2rem;
    border: none;
    color: white;
    outline: none;
}

.new-tweet-actions ul li {
    margin-right: 12px;
    color: #1c88d2;
    cursor: pointer;
    width: fit-content;

}

.new-tweet-actions .Tweet_button {
    width: 75px;
    height: 35px;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;

}

.feed-tweet {
    display: flex;
    width: 100%;
    min-height: 10px;
    padding: 12px 16px 0 16px;
    border-top: 1px solid rgb(47, 51, 54);

    cursor: pointer;
}

.feed-tweet-detailes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 12px;

}

.feed-tweet-detailes i {
    color: rgb(110, 118, 125);

}

.tweeter-detailes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.5rem;
}

.tweeter-detailes a {
    font-weight: 700;
}

.tweeter-detailes span {
    color: rgb(110, 118, 125);
    font-size: 1.5rem;
}

.tweet-text {
    color: white;
    font-size: 1.5rem;
    width: 100%;
}

.tweet-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    padding-right: 50px;
}

.side-feed{
    width: 50%;
    padding: 0 2%;
    
}
.search{
    display: flex;
    height: 55px;
    max-width: 355px;
    position: sticky;
    top: 0;
    padding-top: 5px;
    background-color: black;
    
}
.search input{
    background-color: #212327;
    border-radius: 9999px;
    height: 45px;
    width: 100%;
    border: none;
    padding-left: 30px;
    color: white;
    font-size: 1.5rem;
}
.Trending{
    display: flex;
    flex-direction: column;
    height: 570px;
    max-width: 355px;
    border-radius: 16px;
    background-color: #212327;
    margin-top: 16px;
}
.h1-title{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 24px;
    padding:15px 15px;
}
.trending-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;
    margin-top: 5px;
    padding: 0 15px;
    color: rgb(110, 118, 125);
    font-size: 1.5rem;
    font-weight: 600;
}
.item-category{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Trending span{
    font-size: 1.3rem;
    font-weight: 400;
}
.Trending p{
    color: white;
}
.Show-more{
    display: flex;
    align-items: center;
    color: #1c88d2;
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    padding: 15px 15px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.Show-more:hover{
    background-color: #1c1e22;
    cursor: pointer;
}
.follow{
    display: flex;
    flex-direction: column;
    height: 250px;
    max-width: 355px;
    border-radius: 16px;
    background-color: #212327;

    margin-top: 10px;
}
.follow-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 5px;
    padding: 30px 15px;
}
.follow-detailes{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.follow-detailes a{
    font-size: 1.4rem;
    font-weight: 700;
    
}
.follow-detailes a:hover{
    text-decoration: underline;
}
.follow-detailes span{
    color: rgb(110, 118, 125);
    font-size: 1.4rem;
    font-weight: 400;

}
#follows{
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #1c1e22;
    padding: 2px 4px;
}
.follow .Tweet_button{
    width: 75px;
    height: 35px;
    margin: 0 0 0 12px;
    font-weight: 600;
    background-color: white;
    color: black;
}
.follow .Show-more{
    padding: 10px 15px;
}
.follow-cont{
    display: flex;
    justify-content: space-between;
}
